#dialog-overlay {
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;
    
    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 
    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 
    /* hide it by default */
    display:none;
}

.dialog-box {
    
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:850px; 
    
    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 
    /* hide it by default */
    display:none;
    
    padding:20px;
    
    overflow: scroll;
}