<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AutocompleterServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.AutocompleterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TranslationServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.TranslationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityAutocompleterServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.EntityAutocompleterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntitySearchServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.EntitySearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertySearchServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.PropertySearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyAutocompleterServlet</servlet-name>
        <servlet-class>edu.ucla.cs.scai.canali.webapp.PropertyAutocompleterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutocompleterServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TranslationServlet</servlet-name>
        <url-pattern>/translate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityAutocompleterServlet</servlet-name>
        <url-pattern>/entityAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntitySearchServlet</servlet-name>
        <url-pattern>/entitySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyAutocompleterServlet</servlet-name>
        <url-pattern>/propertyAutocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertySearchServlet</servlet-name>
        <url-pattern>/propertySearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>
            edu.ucla.cs.scai.canali.webapp.MyAppServletContextListener 
        </listener-class>
    </listener>
</web-app>
